<%- contentFor('style') %>
<title>配置</title>
<style>
  .hide{
    height: 0;
    visibility: hidden;
  }

  .weui-label {
    width: 140px;
  }

  .weui-cell {
    padding: 20px 10px;
  }

  .weui-select {
    padding: 0;
  }

  .countDown{
    color: #666;
  }

  .editConfig,
  .submit {
    margin-top: 50px;
  }
</style>

<%- contentFor('content') %>
<form id="configForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">设备号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" readonly type="text" required name="deviceId" placeholder="请输入设备号" tip="设备号" value="<%= result.deviceId %>">
      </div>
    </div>
    <div class="weui-cell editable" style="height:26px;">
      <div class="weui-cell__hd">
        <label class="weui-label">每次送几桶</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" <%= status===1000?'readonly':'' %> pattern="[0-9]+" tip="送水桶数" type="number" required name="eachNum" placeholder="请输入每次送水桶数" value="<%= result.eachNum==0?"":result.eachNum %>">
      </div>
    </div>
    <div class="weui-cell editable">
      <div class="weui-cell__hd">
        <label class="weui-label">送水地址</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" <%= status===1000?'readonly':'' %> type="text" required name="userAddr" tip="送水地址(精确到门牌号)" placeholder="请输入送水地址" value="<%= result.userAddr %>">
      </div>
    </div>
    <div class="weui-cell editable">
      <div class="weui-cell__hd">
        <label class="weui-label">您的姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" <%= status===1000?'readonly':'' %> type="text" required name="userName" pattern="[\u4e00-\u9fa5]+" tip="姓名" placeholder="请输入姓名" value="<%= result.userName %>">
      </div>
    </div>
    <div class="weui-cell editable weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label">您的手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" <%= status===1000?'readonly':'' %> type="tel" required name="userPhoneNum" pattern="^1[3|4|5|7|8]\d{9}$" tip="手机号" placeholder="请输入手机号" value="<%= result.userPhoneNum %>">
      </div>
      <div class="weui-cell__ft <%= status===1000?'hide':'' %>">
        <button class="weui-vcode-btn getCode">获取验证码</button>
      </div>
    </div>
    <div class="weui-cell editable <%= status===1000?'hide':'' %>">
      <div class="weui-cell__hd">
        <label class="weui-label">验证码</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" <%= status===1000?'readonly':'' %> type="number" required name="smsCode" pattern="[0-9]{4}" tip="验证码" placeholder="请输入验证码">
      </div>
    </div>
    <div class="weui-cell editable">
      <div class="weui-cell__hd">
        <label class="weui-label">备注信息</label>
      </div>
      <div class="weui-cell__bd remarkContent">
        <textarea class="weui-textarea" placeholder="请输入备注信息" name="extra" <%= status===1000?'readonly':'' %> rows="3"><%= result.extra %></textarea>
        <div class="weui-textarea-counter"><span class="textNum"><%= result.extra.length %></span>/200</div>
      </div>
    </div>
  </div>
  <div style="padding:10px;">
    <a href="javascript:;" class="weui-btn weui-btn_primary <%= status===1000?'editConfig':'submit' %>"><%= status===1000?'修改配置':'确定' %></a>
  </div>
</form>

<%- contentFor('script') %>
<script>
  var host = 'http://smartguy.xyz:9001';
  var configForm = $('#configForm');
  var getCode = $('#configForm .getCode');
  var textarea = $('.remarkContent');
  var textNum = $('.textNum');
  var editableInput = $('.editable input,textarea');
  var hideInput = $('.hide');
  var submitData = {};
  //获取验证码
  getCode.click(function() {
    var userPhone = $('input[name="userPhoneNum"]');
    if(validate(userPhone)||getCode.hasClass('countDown')) return false;
    console.log(userPhone.val())
    countDown();
    $.ajax({
      url: `${host}/sms/sendsms`,
      type: 'post',
      data: JSON.stringify({
        phone: userPhone.val(),
        action: 'wxbind'
      }),
      success: function(data){
        console.log(data);
      }
    })
    return false;
  });
  //限制问题反馈字数
  textarea.on('input propertychange','textarea',function(){
    var val = $(this).val();
    if(val.length<201){
        textNum.html(val.length);
    }else{
        textarea.find('textarea').val(val.substring(0,200));
    }
  });
  //开始编辑
  $(document).on('click', '.editConfig', function() {
    editableInput.removeProp('readonly');
    hideInput.removeClass('hide');
    $(this).removeClass('editConfig').addClass('submit').html('确定');
  });
  //表单提交
  $(document).on('click', '.submit', function () {
    //表单验证
    var inp = $('#configForm input');
    var verifyBtn = false;
    inp.each(function (index, item) {
      if(validate($(item))){
        verifyBtn = true;
        return false;
      }
    })
    //表单序列化
    if (!verifyBtn) {
      submitData = configForm.serializeJson();
      submitData.eachNum = parseInt(submitData.eachNum);
      $.ajax({
        url: `${host}/user/add?smsCode=${submitData.smsCode}`,
        type: 'post',
        data: JSON.stringify(submitData),
        success: function(data){
          if(data.status == 1000){
            location.reload();
          }
        }
      })
    }
  })

  function countDown(){
    getCode.removeClass('getCode').addClass('countDown');
    var count = 60;
    getCode.html(count);
    var interval = setInterval(function(){
      count--;
      if(count<1){
        clearInterval(interval);
        interval = null;
        getCode.removeClass('countDown').addClass('getCode').html('获取验证码');
        return;
      } 
      getCode.html(count);
    }, 1000);
  }

  function validate(element){
    var val = element.val();
    var required = element.attr('required');
    var reg = new RegExp(element.attr('pattern'), 'g');
    var tip = element.attr('tip');
    //验证是否为空
    if (val == '' && required) {
      $.alert(tip+"不能为空", "温馨提示", function () {
        element.focus();
      });
      return true;
    }
    //验证是否符合规则
    if (!reg.test(val)) {
      $.alert("请输入正确的" + tip, "温馨提示", function () {
        element.focus();
      });
      return true;
    }
    return false;
  }

</script>